.sticky{
    position: sticky;
    top: 0;
    z-index: 9999;
}
.tab-add {
    background: #fff;
}
.tabs{
    display:flex;
    padding:0;
    margin:0;
    list-style:none;
    /* 背景ないと透けるので重要 */
    background:#fff;
}
.tabs li{
    flex:1;
    text-align:center;
    padding:5px 0;
    background:#eee;
    border:1px solid #ccc;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
}
.tabs li.active{
    background:#f39a18;
    color:#fff;
}