@charset "UTF-8";

.wp{
   overflow:hidden;
   text-align:center;
   /*padding:5px 0 0;*/
   padding:0;
   display:flex;
   width:100%;
   box-sizing:border-box;
   margin:0 auto;
   font-weight:bold;
   /*background-color:#F3981D;*/
   /*font-size:12px;*/
   font-size:10px;
   border:1px solid #e78f08;
   .prev{
      width:16.666%;
      padding:5px 0;
      background-color:#F3981D;
      color:#fff;
      text-align:center;
   }
   .ynext,
   .yprev{
      width:16.666%;
      padding:5px 0;
      background-color:#F3981D;
      color:#fff;
      text-align:center;
   }
   .yprev{
      border-left:1px solid #F3981D;
   }
   .next i,
   .prev i,
   .ynext i,
   .yprev i{
      color:#F3981D;
      width:22px;
      height:22px;
      border-radius:50%;
      background:#fff;
      display:inline-block;
      font-style:normal;
      position:relative;
      top:1px;
   }
   .next{
      width:16.666%;
      padding:5px 0;
      background-color:#F3981D;
      border-right:1px solid #F3981D;
      color:#fff;
      text-align:center;
   }
   .yy{
      width:16.666%;
      padding:7px 0 0;
      background-color:#F3981D;
      color:#fff;
      text-align:center;
      /*position:relative;
      top:1px;*/
   }
   .mm{
      width:16.666%;
      padding:7px 0 0;
      background-color:#F3981D;
      color:#fff;
      text-align:center;
      /*position:relative;
      top:1px;*/
   }
}
.select_page .mm,
.select_page .yy{
   position:relative;
   top:1px;
}
body:not(:has(.select_page)) .next i,
body:not(:has(.select_page)) .prev i,
body:not(:has(.select_page)) .ynext i,
body:not(:has(.select_page)) .yprev i{
   line-height:24px;
   width:14px;
   height:14px;
   line-height:15px;
   position:relative;
   top:1px;
}
body:not(:has(.select_page)) .mm,
body:not(:has(.select_page)) .yy {
   color:#fff;
   /*position:relative;
   top:2px;*/
}
#calendar td,
.yprev:hover,
.ynext:hover,
.prev:hover,
.next:hover{
   cursor:pointer;
}
 table{
    width:100%;
    border-collapse:collapse;
 }
#calendar td{
   text-align:center;
   /*font-size:12px;*/
   font-weight:bold;
   line-height:1em;
   padding:10px;
   border:1px solid #F3981D;
   background:#fff;
   color:#1a89bc;
}
#calendar tr:nth-child(1) td {
    background:#f7f5b3;
    color:#555;
}
#calendar tr:nth-child(1) td:nth-child(1) {
    color: #f00;
}
#calendar tr:nth-child(1) td:nth-child(7) {
    color: blue;
}
#calendar{
   border:1px solid #F3981D;
   background:#F3981D;
   margin:0 auto 20px;
   width:100%;
   box-sizing: border-box;
   border-radius:0 0 5px 5px;
}
/* ダッシュボード・下層ページ両方 */
.cl_toggle{
   display:none;
   margin:10px auto 0;
}
/* 下層ページ */
.cl_wp{
   .cl_toggle{
      margin:0;
      border:1px solid #dddddd;
      padding:3px;
      background:#eeeeee;
      border-radius:5px;
   }
   #calendar{
      margin:0;
   }
   #calendar td{
      padding:12px 6px 8px;
   }
}
/* sp */
@media screen and (max-width:769px){
   .select_page #calendar td{
      font-size:12px;
      color:#555;
      padding:13px 0;
   }
   .select_page .wp{
      font-size:12px;
      overflow:hidden;
   }
   .next i,
   .prev i,
   .ynext i,
   .yprev i{
      line-height:23px;
      font-style:normal;
      position:relative;
      top:-1px;
   }
   .mm,
   .yy{
      position:relative;
      top:3px;
   }
}
/* pc */
@media screen and (min-width:768px){
   .cl_wp{
      width:250px;
      margin:0 auto;
      position:relative;
      z-index:9999;
      top:6px;
   }
   .select_page{
      .next i,
      .prev i,
      .ynext i,
      .yprev i{
         font-size:12px;
         line-height:25px;
      }
   }
   .select_page .wp{
      font-size:16px;
      background:#F3981D;
   }

   #calendar td{
      padding:30px;
      /*font-size:13px;*/
      font-size:10px;
   }
   .select_page #calendar td{
      font-size:22px;
      color:#555;
   }
}
/*------------------------------------------------------------*/
/*カレンダーCSSここまで*/
